html,
body,
#container,
#canvas,
#canvas > div {
	font-family: sans-serif;
	height: 100%;
	margin: 0;
}

.bottom-buttons {
  bottom: 20px;
  left: 20px;
}

.bottom-right-buttons {
  bottom: 20px;
  right: 20px;
  text-align: right;
}

.bottom-buttons a:hover,
.ojs-buttons-active:hover {
  background-color: var(--color-button-hover);
  transition: background-color 0.2s linear;
}

.bottom-buttons a.active {
  opacity: 1;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
}


.pnjs-buttons {
  position: fixed;
}

.pnjs-buttons > div {
  display: block;
  padding: 0;
  margin: 10px 0 0;
  list-style: none;
}

.pnjs-buttons > div > div {
  display: inline-block;
  margin-right: 5px;
}

.pnjs-buttons > div > div > a,
.pnjs-buttons button {
  color: black;
  background-color: #f8f8f8;
  border-radius: 3px;
  display: inline-block;
  padding: 6px 10px;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  border: solid 1px #cdcdcd;
}

.pnjs-buttons a {
  opacity: 0.3;
  text-decoration: none;
}

.pnjs-buttons a.pnjs-buttons-active,
.pnjs-buttons button.pnjs-buttons-active {
  opacity: 1;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
}